@use "../base/templates" as *;

.s-main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;
  }
  &::before {
    background: url("@img/decor.png") bottom 0px right -20px / 560px auto
      no-repeat;
  }
  &::after {
    background: url("@img/decor-top.png") top -25px right -115px / 340px auto
      no-repeat;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  &__head {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
  }
  &__logo {
    display: block;
    width: 200px;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
  &__content {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    max-width: 400px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
  &__list-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    -webkit-tap-highlight-color: transparent;

    font-weight: 300;
    font-size: 18px;

    transition:
      box-shadow 0.3s ease,
      color 0.3s ease;

    @include hover {
      color: var(--primary);
      box-shadow: 2px 2px 7px 0 rgba(245, 249, 138, 0.75);
    }

    svg {
      display: block;
      width: 25px;
      height: 20px;
      color: var(--primary);
    }
  }
  &__btn {
    margin-top: auto;
    width: 100%;
  }
  &__price-nav {
    @include flex-center;
    gap: 50px;
    margin-bottom: 30px;
  }
  &__price-btn {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 3px;
    border-bottom: 2px dashed #f5f98a;

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
    &._active {
      color: var(--primary);
    }
  }
  &__price-table {
    width: 100%;
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--primary);
    display: block;

    thead,
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    thead {
      background-color: var(--primary);
      color: black;
      padding: 15px 20px;
    }
    .cell-head {
      font-weight: 400;
      font-size: 14px;
      text-align: start;
      &:nth-child(2) {
        text-align: end;
      }
    }

    tbody {
      tr {
        padding: 15px 20px;
        background: #141414;
        &:nth-child(even) {
          background: #1d1d1d;
        }
        &:not(:last-child) {
          border-bottom: 1px solid var(--primary);
        }
      }
    }
    .cell {
      font-size: 10px;
      &:nth-child(2) {
        font-weight: 500;
        font-size: 12px;
        text-align: end;
        color: var(--primary);
      }
    }
  }
}
