@use "../base/templates" as *;

.btn-s {
  @include flex-center;
  gap: 15px;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  padding: 22px 30px;
  -webkit-tap-highlight-color: transparent;

  color: black;
  font-weight: 500;
  font-size: 20px;

  transition: box-shadow 0.3s ease;
  @include hover {
    box-shadow: 2px 2px 7px 0 rgba(245, 249, 138, 0.75);
  }

  svg {
    width: 22px;
    height: 22px;
  }
}

.btn-prev {
  @include flex-center;
  border-radius: 4px;
  background-color: #262627;
  border: 1px solid var(--primary);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  color: var(--primary);
  -webkit-tap-highlight-color: transparent;

  transition: box-shadow 0.3s ease;
  @include hover {
    box-shadow: 2px 2px 7px 0 rgba(245, 249, 138, 0.75);
  }

  svg {
    width: 15px;
    height: 15px;
  }
}
