@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/tab";

// components
@use "./components/header";

@use "./components/s-main";

@use "./components/footer";